@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light theme colors */
    --text-primary-light: #222;
    --text-secondary-light: #555555;
    --text-accent-light: #888;
    --heading-font-size-light: 2rem;
    --body-font-size-light: 1rem;
    --text-third-color-light: #5d5f82;
    --background-layer-light: #e5e5e659;
    --accent-purple-light: rgb(160, 114, 230);
    --logo-background-light: #020617;
    --background-layer-x-light: #020617;

    /* Dark theme colors */
    --text-primary-dark: #ffffff;
    --text-secondary-dark: #cccccc;
    --text-accent-dark: #aaaaaa;
    --heading-font-size-dark: 2rem;
    --body-font-size-dark: 1rem;
    --text-third-color-dark: #c1c2d3;
    --background-layer-dark: #10132e;
    --accent-purple-dark: rgb(203 172 249);
    --logo-background-dark: rgb(0 0 0 0);
    --background-layer-x-dark: #10132e;

    /* Existing variables */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --text-primary: var(--text-primary-dark);
    --text-secondary: var(--text-secondary-dark);
    --text-accent: var(--text-accent-dark);
    --heading-font-size: var(--heading-font-size-dark);
    --body-font-size: var(--body-font-size-dark);
    --text-third: var(--text-third-color-dark);
    --background-layer: var(--background-layer-dark);
    --accent-purple: var(--accent-purple-dark);
    --logo-background: var(--logo-background-dark);
    --background-layer-x: var(--background-layer-x-dark);

    /* Existing dark theme variables */
    --spotlight-color-1: var(--spotlight-color-1-dark);
    --spotlight-color-2: var(--spotlight-color-2-dark);
    --spotlight-color-3: var(--spotlight-color-3-dark);
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 240 10% 35%;
    --text-primary: var(--text-primary-light);
    --text-secondary: var(--text-secondary-light);
    --text-accent: var(--text-accent-light);
    --text-third: var(--text-third-color-light);
    --heading-font-size: var(--heading-font-size-light);
    --body-font-size: var(--body-font-size-light);
    --background-layer: var(--background-layer-light);
    --accent-purple: var(--accent-purple-light);
    --logo-background: var(--logo-background-light);
    --background-layer-x: var(--background-layer-x-light);

    /* Existing light theme variables */
    --spotlight-color-1: var(--spotlight-color-1-light);
    --spotlight-color-2: var(--spotlight-color-2-light);
    --spotlight-color-3: var(--spotlight-color-3-light);
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-[var(--text-primary)];
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    font-size: var(--heading-font-size);
  }

  .body-text {
    font-size: var(--body-font-size);
  }

  .text-primary {
    color: var(--text-primary);
  }

  .text-secondary {
    color: var(--text-secondary);
  }

  .text-accent {
    color: var(--text-accent);
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }

  .field-input {
    @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:opacity-50 text-lg text-white-200 shadow-black-200 shadow-2xl focus:outline-none;
  }

  .work-container {
    @apply grid lg:grid-cols-[1fr_3fr] gap-5 mt-12 items-center;
  }

  .work-card {
    @apply col-span-1 rounded-lg;
  }

  .work-content_container {
    @apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-black-300 rounded-lg sm:px-5 px-2.5;
  }

  .work-content_logo {
    @apply rounded-3xl w-16 h-16 p-2 bg-[var(--background-layer-x)];
  }

  .work-content_bar {
    @apply flex-1 w-0.5 mt-4 h-full bg-[var(--background-layer)] group-hover:bg-black-200 group-last:hidden;
  }
}
